<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <form action="/readfile" method="POST">
            <button type="submit" class="btn">Click</button>
        </form>
        <table>
            <tr>
                <th>Model Number</th>
                <th>Serial Number</th>
                <th>Total Number</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>

        </table>
        <% if (datas) { %>
            <p> <%= datas %> </p>
            
        <% } %>
    </div>
</body>

</html>