.btn{	
    background-color: #4b5052;
    border: 2px solid black;
    color: whitesmoke;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
}